@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: aliceblue;
}
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
  width: 8px; /* Width for vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color when hovered */
}
